.pc-block__head-info_size_s {
    height: 40px;
}

.pc-block__head-info_size_s .pc-block__hi-group,
.pc-block__head-info_size_s .pc-block__hi-text,
.pc-block__head-info_size_s .pc-block__hi-text_cover,
.pc-block__head-info_size_s .pc-block__button_toggle,
.pc-block__head-info_size_s .pc-block__button_toggle_closed,
.pc-block__head-info_size_s .pc-block__hi-group_controls_right {
    height: 40px;
    max-height: 40px;
}

.pc-block__head-info_size_s .pc-block__button_toggle .icon {
    top: 5px;
}
