.toolbar__group {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 36px;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    flex-basis: 100%;
}

.toolbar__group .control-group {
    text-align: right;
    display: flex;
    align-items: center;
}
.toolbar__group .button_std,
.toolbar__group .button_std-help,
.toolbar__group .button_help {
    font-family: arial, helvetica, sans-serif;
}