.button_view_add {
    height: 25px;
    border-radius: 25px;
    padding: 0 0 0 3px;
    font-size: 14px;
    border: none;
    color: #fff;
    font-family: "life_medium";
    outline: none;
    cursor: pointer;
    background-color: #b5b5b5;
}

.button_view_add .icon {
    width: 19px;
    height: 19px;
}

.button_view_add .button__text {
    padding: 0 25px 0 15px;
}
