.button_view_logout {
    position: relative;
    display: inline-block;
    height: 31px;
    border: none;
    border-radius: 31px;
    padding: 0 25px;
    font-family: 'life_medium';
    font-size: 13px;
    color: #fff;
    background-color: #636363;
    outline: none;
    cursor: pointer;
}
