.form__text {
    font-family: 'life_text';
    font-size: 24px;
    font-weight: normal;
}

.form__text h3 {
    font-family: 'life_text';
    font-size: 24px;
    font-weight: normal;
}

.form__text ul {
    font-family: 'life_text';
    font-size: 24px;
    font-weight: normal;
}

.form__text ul li {
    font-family: 'life_text';
    font-size: 24px;
    font-weight: normal;
}

.form__text .link {
    font-family: 'life_text';
    font-size: 24px;
    font-weight: normal;
}
