.button_help {
    display: inline-block;
    height: 24px;
    padding: 0 5px;
    max-width: 35px;
    margin: 0 2px;
    line-height: 23px;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #888888;
}
.button_help:hover {
    background-color: #717171;
}
