.button_icon-only {
	padding: 0;
	margin: 0;
	display: inline-block;
	border: 0;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	outline: none;
	line-height: 2;
	margin-left: 6px;
	cursor: pointer;
}

.button_icon-only.button_theme_islands,
.button_icon-only.button_theme_islands.button_hovered,
.button_icon-only.button_theme_islands.button_focused,
.button_icon-only.button_theme_islands.button_focused-hard {
	outline: none;
	background: transparent;
	width: 20px;
	height: 20px;
}
.form__button-group_type_line .button_icon-only {
	margin-right: 10px;
}

.button_icon-only.button_theme_islands.button_focused-hard:before {
	/*background: transparent;*/
	box-shadow: none;
}

.button_icon-only.tooltip {
	background-image: none;
}

.button_icon-only .icon {
	padding: 0;
	margin: 0;
	display: inline-block;
	border: 0;
	width: 24px;
	height: 24px;
	border-radius: 24px;
}
