.toggle-block {
    background-color: white;
    margin: 25px 0px 0px 0px;
}

.toggle-block__content {
    padding-bottom: 20px;
}
.toggle-block__description {
    color: #5b3293;
    padding: 20px 25px 30px 25px;
    font-size: 18px;
}
.questions__question {
    width: 195px;
    margin: 10px 0px 1px 0px;
    display: flex;
    flex-direction: column;
    font-family: "life_regular";
}
.questions {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}
.questions__icon {
    width: 106px;
    height: 90px;
    margin: 0 auto;
    margin-top: 10px;
}
.questions__title {
	color: #5b3293;
    text-align: center;
    margin: 10px 0px 15px 0px;
    font-weight: bold;
}
.questions__desc {
    text-align: center;
    box-sizing: border-box;
    padding: 0px 10px 20px 10px;
}
.questions__more {
    margin: 0px 0px 30px 0px;
    margin-top: auto;
    text-align: center;
    font-weight: bold;
}
.questions__more a {
    color: red;
}
.questions__question:not(:last-child) {
    border-right: 1px solid #a1a1a1;
}
.questions__question:last-child:hover {
    border: 1px solid #a1a1a1;
    padding: 1px 0px 0px 0px;
    margin: 8px -1px 0px -1px;
    border-radius: 3px;
    background-color: rgba(234, 234, 234, 0.14);
    cursor: pointer;
}
.questions__question:hover {
    border: 1px solid #a1a1a1;
    padding: 1px 0px 0px 0px;
    margin: 8px 0px 0px -1px;
    border-radius: 3px;
    background-color: rgba(234, 234, 234, 0.14);
    cursor: pointer;
}
.toggle-block_closed .toggle-block__head {
    background-color: #5b3293 !important;
    color: white !important;
}


.questions_closed .questions__title {
    color: white !important;
}

.questions_closed .questions__head {
    background-color: #5b3293 !important;
}
.questions_closed .questions__content {
    display: none;
}
.questions_closed svg path {
    fill: #FFF;
}
.questions_closed .questions__button {
    transform: rotate(180deg);
}
.questions__head {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: black;
    padding: 0px 10px 0px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.questions-description {
	color: #5b3293;
	padding: 20px 25px 30px 25px;
	font-size: 18px;
}