.tooltip  {
    width: 24px;
    height: 24px;
    background: url(/assets/img/icons.png);
    background-position: -174px -114px;
    cursor: pointer;
}
.tooltip:focus{
	outline: none;
}
.popup.dropdown_tooltipS  {
	width: 300px;
}
.popup.dropdown_tooltipM  {
	width: 365px;
}
