.button_link {
	padding: 8px 14px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #ff2e39;
	color: #fff;
	font-size: 15px;
	margin: 0 3px;
	cursor: pointer;
}
.button_link:first-child {
	margin-right: 6px;
}