.pc-block__button_toggle {
    height:60px;
    width:100%;
    border: none;
    padding: 0;
    background-color: transparent;
    background-size: cover;
    background-position: top left;
    outline: none;
    transform: rotate(180deg);
    animation: toggleButtonRotateUp .3s ease-in;
}
.pc-block__button_toggle .icon {
    width: 30px;
    height: 30px;
    top: 15px;
    left: 7px;
    position: absolute;
}
.pc-block__button_toggle:hover {
    cursor: pointer;
}
.pc-block__button_toggle svg {
    width: 30px;
    height: 30px;
    transform-origin: center center;
    position: absolute;

}
.pc-block__button_toggle .icon > svg {
    margin: 0;
    top: 0;
    left: 0;
}
.pc-block__button_toggle svg path {
    /*fill: #000;*/
}
@keyframes toggleButtonRotateUp {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

