.pc-block {
	margin: 20px 0px 0px 0px;

	&__head {
		display: flex;
		align-items: center;
	    justify-content: space-between;
	    padding: 10px 15px 10px 15px;
	    border-radius: 5px;
	    position: relative;
	    background: #593290;
	    max-width: 100%;
	    cursor: pointer;
	}
	&__title {
	    color: white;
	    font-size: 18px;
	    font-family: 'life_text', sans-serif;
	}
	&__svg {
		width: 24px;
		height: 24px;
		-webkit-transition:height, 0.5s linear;
		-moz-transition: height, 0.5s linear;
		-ms-transition: height, 0.5s linear;
		-o-transition: height, 0.5s linear;
		transition: height, 0.5s linear;
	}
	&__content {
		overflow: hidden;
		max-height: 0;
		padding: 0px;
		-webkit-transition: max-height 1s; 
		-moz-transition: max-height 1s; 
		-ms-transition: max-height 1s; 
		-o-transition: max-height 1s; 
		transition: max-height 1s;  
		background: white;
	}
	&__content-text {
	    padding: 20px 30px 0px 30px;
		background-color: white;
	}
	&_opened {
		.pc-block {
			&__svg {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
				-webkit-transition:height, 0.5s linear;
				-moz-transition: height, 0.5s linear;
				-ms-transition: height, 0.5s linear;
				-o-transition: height, 0.5s linear;
				transition: height, 0.5s linear;
			}
			&__content {
				max-height: 500px;
			    overflow: auto;
			}
		}
	}
	&__content-text span {
		display: block;
	}
	&__content-text span:nth-child(1) {
	    font-size: 18px;
	    line-height: 20px;
	}
	&__content-text span:nth-child(2n) {
	    font-size: 16px;
	    line-height: 20px;
	    margin: 10px 0px 30px 0px;
	}
}