.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 10px;
}
.user__settings-button {
    fill: #b8b8b8;
    cursor: pointer;
}
.user__photo {
    background-color: gray;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 0px 20px 0px 20px;
}
.user__inforamtion {
    width: 250px;
}
.user__name {
    color: #5b3293;
    font-weight: bolder;
}
.user__menu {
	position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    list-style-type: none;
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 10px;
    z-index: 10;
}
.user__menu li:not(:last-child) {
    border-bottom: 1px solid #a1a1a1;
}
.user__menu li {
    padding: 10px 10px 1px 10px;
}
.menu-on-page-user {
    padding: 20px 25px 20px 25px;
}
.menu-on-page-user .menu__item {
    box-shadow: 0px 1px 0 0 #d3d3d3;
    padding: 5px 0 9px 0;
    cursor: pointer; 
}
.menu-on-page-user .menu__item:last-child {
    box-shadow: none;
    padding: 12px 0 0 0;
    cursor: pointer; 
}
.user__phone {
    font-family: "life_medium";
    font-size: 16px;
    line-height: 23px;
    color: #000;
}
.user__name {
    font-size: 18px;
    line-height: 20px;
    font-family: "life_medium";
    color: #593292;
}