.modal_theme_life-light {
    display: none;
    visibility: hidden;

    margin: -9999px 0 0 -9999px; /* to prevent clickability and visiblity of internal elements with visiblity: visible */

    background: rgba(41, 41, 41, 0.56);
}

.modal_theme_life-light,
    .modal_theme_life-light .modal__content {
    -webkit-animation-duration: 0.2s;
            animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
.modal_theme_life-light .modal__table {
    display: flex;
    justify-content: center;
}
.modal_theme_life-light .modal__cell {
    max-width: 878px;
    margin:auto;
    align-self: center;
    position: relative;
    display: flex;
}
.modal__close-button {
    position: absolute;
    display: block;
    height: 21px;
    width: 21px;
    border: 0;
    padding: 0;
    margin: 0;
    top: 24px;
    right: 24px;
    outline: none;
    cursor: pointer;
    z-index: 1000;
}
.modal__close-button svg {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: 0;
}
.modal_theme_life-light .modal__content {
    min-width: 878px;
    margin: 0;
    box-sizing: border-box;
    padding: 24px 24px 32px 32px;
    border-radius: 5px;
    /*border: 1px solid #bfbfbf;*/
    background-color: #fff;
}

.modal_theme_life-light.modal_js_inited {
    display: block;
}

.modal_theme_life-light.modal_has-animation {
    -webkit-animation-name: modal_theme_life-light;
            animation-name: modal_theme_life-light;
}

.modal_theme_life-light.modal_has-animation .modal__content {
    -webkit-animation-name: modal_theme_life-light__content;
            animation-name: modal_theme_life-light__content;
}

.modal_theme_life-light.modal_visible {
    visibility: visible;
    margin: 0;
}

.modal_theme_life-light.modal_visible.modal_has-animation {
    -webkit-animation-name: modal_theme_life-light_visible;
            animation-name: modal_theme_life-light_visible;
}

.modal_theme_life-light.modal_visible.modal_has-animation .modal__content {
    -webkit-animation-name: modal_theme_life-light_visible__content;
            animation-name: modal_theme_life-light_visible__content;
}

/* closing modal */

@-webkit-keyframes modal_theme_life-light {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;
    }

    99% {
        margin: 0;
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

@keyframes modal_theme_life-light {
    0% {
        visibility: visible;

        margin: 0;

        opacity: 1;
    }

    99% {
        margin: 0;
    }

    100% {
        visibility: hidden;

        margin: -9999px 0 0 -9999px;

        opacity: 0;
    }
}

/* opening modal */

@-webkit-keyframes modal_theme_life-light_visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes modal_theme_life-light_visible {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* closing modal__content */

@-webkit-keyframes modal_theme_life-light__content {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
}

@keyframes modal_theme_life-light__content {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
    }
}

/* opening modal__content */

@-webkit-keyframes modal_theme_life-light_visible__content {
    0% {
        -webkit-transform: scale(.75);
                transform: scale(.75);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes modal_theme_life-light_visible__content {
    0% {
        -webkit-transform: scale(.75);
                transform: scale(.75);
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
