.pc-block__head-info {
    display: block;
    position: relative;
    height: 60px;
    width: 100%;
}

.pc-block__head-info .pc-block__hi-group {
    height: 100%;
    border-radius: 5px;
    background: #593290;
    cursor: pointer;
    transition: background .4s ease-in;
}
