.menu_theme_life-light {
	font-family: 'life_regular', Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: 0;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #636363, inset 0 0 0 1px #cfcfcf;
	background: #fff;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
	 * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */

.menu_theme_life-light:before,
.menu_theme_life-light:after {
	display: block;
	content: '';
}

.menu_theme_life-light.menu_size_s {
	font-size: 13px;
	padding: 0;
	line-height: 24px;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #636363, inset 0 0 0 1px #cfcfcf;
}

.menu_theme_life-light.menu_size_s:before,
.menu_theme_life-light.menu_size_s:after {
	height: 3px;
}

.menu_theme_life-light.menu_size_s .menu__item {
	max-width: 45px;
	margin: 0 1px;
	padding: 0 5px;
}

.menu_theme_life-light.menu_size_s .menu__item_hovered {
	cursor: pointer;
	background-color: #b5b5b5;
}

.menu_theme_life-light.menu_size_m {
	font-size: 21px;
	line-height: 24px;
	max-width: 54px;
	padding: 0;
	min-width: 73px!important;
	border-radius: 4px;
}

.menu_theme_life-light.menu_size_m .menu__item {
	max-width: 70px;
	margin: 0 2px;
	padding: 0 5px;
}

.menu_theme_life-light.menu_size_m .menu__item_hovered {
	cursor: pointer;
	background-color: #b5b5b5;
}

.menu_theme_life-light.menu_size_m:before,
.menu_theme_life-light.menu_size_m:after {
	height: 4px;
}

.menu_theme_life-light.menu_size_m .menu__item + .menu__group {
	margin-top: 4px;
}

.menu_theme_life-light.menu_size_m .menu__group {
	padding: 4px 0;
}

.menu_theme_life-light.menu_size_m .menu__group-title {
	padding: 0 13px;
}

.menu_theme_life-light .menu__group {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0;
}

.menu_theme_life-light .menu__group-title {
	color: #999;
}

.menu_theme_life-light .menu__group + .menu__group {
	border-top: 0;
}

.menu_theme_life-light .menu__group:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.menu_theme_life-light .menu__group:first-child {
	padding-top: 0;
	border-top: 0;
}
