.form_view_line {
	display: flex;
	flex: 1 0 auto;
	flex-flow: row nowrap;
	justify-content: flex-start;
}

.form_view_line .form__text-error {
	font-size: 14px;
	text-align: center;
	flex-grow: 1;
}
