.tarif-line__item {
    display: flex;
    max-width: 234px;
}
.tarif-line__item:not(:last-child) {
    border-right: 1px solid #a1a1a1;
    padding: 0px 10px 0px 10px; 
}
.tarif-line__item:last-child {
    padding: 0px 0px 0px 10px; 
}
.tarif-line__item:first-child {
    padding: 0px 10px 0px 0px;
}