.profile__information {
	border: 1px dashed #666666;
	width: 242px;
	border-radius: 4px;
	padding: 15px 15px;
}
.profile__text {
	color: #626262;
}
.profile__phone {
    font-weight: bold;
}
.profile__tariff {
    margin-top: 10px;
    color: #626262;
}
.profile__balans {
   	width: 350px; 
}
.profile__balans_text {
    display: flex;
}
.profile__price {
    font-size: 29px;
    margin: 0px 5px 0px 10px;
    font-family: 'life_medium';	
}
.profile__currency {
	margin-top: 15px;
	font-weight: bold;
}
.button_theme_red {
    background-color: #ff0000;
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 9px 19px;
    margin: 26px 10px 0px 0px;
}
.profile__tooltip {
	border: 1px solid;
	text-align: center;
	border-radius: 26px;
	height: 20px;
	width: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 0px 0px 0px 10px;
}
.button_theme_gray {
	background-color: #626262;
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 10px 24px;
}
.profile__account {
	width: 265px;
	border-left: 1px solid #a1a1a1;
    padding: 0px 0px 0px 10px;
}
.profile__account a {
    color: black;
}
.button_class_exit_account {
	margin-left: 20px;
}
.button_class_exit_goroup {
	display: block;
    margin: 26px 0px 0px 0px;
}
.sep_horizontal {
	border: 1px solid #a1a1a1;
    margin: 15px 0px 15px 0px;
}