.balance {
    display: flex;
    flex-basis: 200px;
    min-width: 100px;
    max-width: 300px;
    margin-right: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
}
