.form__button-group {
    display: flex;
    justify-content: center;
    max-width: 498px;
    align-self: center;
    padding: 42px 0 31px;
}

.form__button-group_inner {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
}

.form__button-group_inner .button,
.form__button-group_inner .select,
.form__button-group_inner .input:not(:last-child) {
    margin: 4px;
}

.form__button-group_inner .form__label {
    font-size: 16px;
    min-width: 174px;
    line-height: 42px;
}

.form__button-group_vert {
    flex-flow: column wrap;
}

.form__button-group_vert .control-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
