.product-list__item {
    display: inline-flex;
    height: 227px;
    padding: 3px;
    align-items: center;
    border-right: solid 1px #cacaca;
}

.product-list__item.menu__item_hovered {
    box-shadow: -1px 0 0 0 #fff;
    border-right-color: transparent;
}