.checkbox_theme_shared {
	height: 30px;
	position: relative;
	/* fix #1538 */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.checkbox_theme_shared:hover {
	cursor: pointer;
}

.checkbox_theme_shared .checkbox__control {
	position: absolute;
	z-index: -1;
	margin: 0;
	opacity: 0;
}

.checkbox_theme_shared .checkbox__box {
	position: relative;
	display: inline-block;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.2);
}

.checkbox_theme_shared .checkbox__box:before {
	position: absolute;
	top: 1px;
	right: 1px;
	bottom: 1px;
	left: 1px;
	content: '';
	border-radius: 2px;
	background: #fff;
}

.checkbox_theme_shared .checkbox__box:after {
	position: absolute;
	top: -5px;
	left: 2px;
	content: '';
	/*background-image: url(checkbox-tip.svg);*/
	background-size: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .05s ease-out, visibility 0s linear .05s, -webkit-transform .05s ease-out;
	transition: opacity .05s ease-out, visibility 0s linear .05s, -webkit-transform .05s ease-out;
	transition: transform .05s ease-out, opacity .05s ease-out, visibility 0s linear .05s;
	transition: transform .05s ease-out, opacity .05s ease-out, visibility 0s linear .05s, -webkit-transform .05s ease-out;
}

.checkbox_theme_shared.checkbox_size_m {
	font-size: 13px;
}

.checkbox_theme_shared.checkbox_size_m .checkbox__box {
	line-height: 14px;
	top: 2px;
	width: 14px;
	height: 14px;
	margin-right: 5px;
}

.checkbox_theme_shared.checkbox_size_m .checkbox__box:after {
	width: 15px;
	height: 15px;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.checkbox_theme_shared.checkbox_size_l {
	font-size: 15px;
}

.checkbox_theme_shared.checkbox_size_l .checkbox__box {
	line-height: 17px;
	top: 3px;
	width: 17px;
	height: 17px;
	margin-right: 7px;
}

.checkbox_theme_shared.checkbox_size_l .checkbox__box:after {
	width: 18px;
	height: 18px;
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
}

.checkbox_theme_shared.checkbox_checked .checkbox__box {
	background: rgba(153, 122, 0, 0.5);
}

.checkbox_theme_shared.checkbox_checked .checkbox__box:before {
	background: #ffeba0;
}

.checkbox_theme_shared.checkbox_checked .checkbox__box:after {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.checkbox_theme_shared.checkbox_focused .checkbox__box:before {
	box-shadow: 0 0 0 1px #ffcc00, inset 0 0 0 1px #ffcc00;
}

.checkbox_theme_shared.checkbox_hovered .checkbox__box {
	background: rgba(0, 0, 0, 0.3);
}

.checkbox_theme_shared.checkbox_hovered.checkbox_checked .checkbox__box {
	background: rgba(129, 103, 0, 0.6);
}

.checkbox_theme_shared .icon_type_checkbox {
	background-image: none;
	margin-right: 12px;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #636363, inset 0 0 0 1px #cfcfcf; 
}
.checkbox_theme_shared.checkbox_checked .icon_type_checkbox {
	background-image: url(icon_type_checkbox.svg);
}

.checkbox_theme_shared.checkbox_disabled {
	cursor: default;
	color: #999;
}

.checkbox_theme_shared.checkbox_disabled .checkbox__box {
	background: rgba(0, 0, 0, 0.08);
}

.checkbox_theme_shared.checkbox_disabled .checkbox__box:before {
	display: none;
}

.checkbox_theme_shared.checkbox_disabled.checkbox_checked .checkbox__box {
	background: rgba(0, 0, 0, 0.15);
}

.checkbox_theme_shared.checkbox_disabled.checkbox_checked .checkbox__box:after {
	opacity: 0.4;
}

.checkbox_theme_shared.checkbox_type_button {
	display: inline-block;
}

.checkbox_theme_shared.checkbox_type_button .button_togglable_check {
	display: inline-flex;
	height: 30px;
	background-color: #fff;
	align-items: center;
}
.checkbox_theme_shared.checkbox_focused .button_checked,
.checkbox_theme_shared.checkbox_focused .button_focused,
.checkbox_theme_shared.checkbox_focused .button_focused-hard:before {
	background-color: #fff;
	box-shadow: none;
}

.checkbox_theme_shared.checkbox_type_line.checkbox_size_m {
	margin-right: 13px;
}

.checkbox_theme_shared.checkbox_type_line.checkbox_size_l {
	margin-right: 15px;
}

.checkbox_theme_shared.checkbox_type_line:last-child {
	margin-right: 0;
}
.checkbox_theme_shared .button__text .checkbox-line {
	display: block;
	text-align: left;
	margin-right: 15px;
}


/* hack for Safari only */

_::-webkit-full-page-media,
_:future,
:root .checkbox_theme_shared .checkbox__box {
	pointer-events: none;
	/* NOTE: Fix #1472 and #1590 */
}
