.button-line__group_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 1000px) {
	.button-line__group_right {
	    justify-content: flex-start;
	}
}