.pc-block__content {
    height: auto;
    max-height: 1500px;
    opacity: 1;
    background: #fff;
    visibility: visible;
    overflow: hidden;
    animation: contentSlideUp .3s ease-in;
}
.pc-block__content span {
    display: block;
}
@keyframes contentSlideUp {
    from {
        max-height: 25px;
    }
    to {
        max-height: 1500px;
    }
}
