.profile {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 20px;
}
.my-tariff,
.user-balance,
.user-account {
    margin-bottom: 40px;
}