.button_std-help {
    font-size: 15px;
    padding: 0px 12px;
    background-color: #888888;
    white-space: pre;
    height: 24px;
    line-height: 23px;
    display: inline-block;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 0 2px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button_std-help:hover {
    background-color: #717171;
}
