.actions__add-user {
	display: inline-flex;
	align-self: flex-start;
	min-width: 201px;
	white-space: pre;

}
.actions__add-user_hidden {
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in;
}