.tabs__item_current {
	background: #fff;
	z-index: 999;
	margin: 0 2px 0 4px;
	position: relative;
	box-shadow: 1px 2px 5px 0px #828282;
}
.tabs__item_current:after {
	content: '';
	position: absolute;
	height: 5px;
	background-color: #fff;
	width: calc(100% + 8px);
	left: -4px;
	bottom: -5px;
}