.tarif__icon {
    border-radius: 70px;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    overflow: hidden;
    z-index: 999;
    position: relative;
    background: url(/assets/img/icons.png);
}
.icon-SMP1 {
    background-position: 1px -40px;
}
.icon-SMP2 {
    background-position: -68px -40px;
}
.icon-SMP3 {
    background-position: -138px -40px;
}
.icon-SMPN {
    background-position: -208px -41px;
}